@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    margin: 0;
    min-height: 100vh;
}
.quiz-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.1);
    overflow: hidden;
    width: 650px;
    max-width: 100%;
}

.quiz-header {
    padding: 4rem;
}

h2 {
    font-size: 1.3rem;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;

}

ul li {
    font-size: 1.1rem;
    margin: 1rem 0;
}

button {
    background-color: #FEA47F;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1.3rem;
    width: 100%;
    padding: 1rem;
    transition: 0.45s;
}

button:hover {
    background-color: #F97F51;
}